---
layout: default
---
<!-- Main -->
	<div id="main">
		<div id="content" class="container">
			<div class="row">
				<section class="8u -2u">
					<!-- <a href="{{ site.prefix }}{{ page.url }}" class="image full"><img src="/assets/{{ page.featured }}" alt=""></--a> -->
					<header>
						<h2>{{ page.title }}</h2>
					</header>
					{{ content }}
                                        {% if page.by %}
                                        <p><strong>Written by <a href="https://github.com/{{ page.by }}">{{ page.by }}</a></strong></p>
                                        {% endif %}
                                        {% if page.categories[0] %}
                                        <p><strong>Category: <span style="color: gray;">{{ page.categories[0] }}</span></strong></p>
                                        {% endif %}
                                        {% if page.tags %}
                                        <p><strong>Tags: {% for tag in page.tags %}<span style="color: gray;">{{ tag }}</span>&nbsp;{% endfor %}</strong></p>
                                        {% endif %}
                                        {% include comments.html %}
				</section>
			</div>
		</div>
	</div>
